name: build site
on:
  pull_request:
    branches:
      - main
      - develop
      - feature/docusaurus
  push:
    branches:
      - feature/docusaurus

jobs:
  build:
    name: Build docusaurus Site
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: "16"
      - name: install yarn
        run: npm i -g --force yarn
      - name: restore yarn
        run: |
          cd $GITHUB_WORKSPACE/src
          yarn install
      - name: yarn build
        run: |
          cd $GITHUB_WORKSPACE/src
          yarn run build
